.container {
  max-width: 1200px;
  margin: auto auto;
  min-height: 100vh;
  padding: 0 10vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

.button_primary {
  button,
  a {
    padding: 18px 25px;
    font-weight: 500;
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    border: 3px solid rgba($color: #ffffff, $alpha: 0.2);
    background-color: black;
    color: white;
  }

  button:last-of-type,
  a:last-of-type {
    margin-right: 0px;
  }

  button:focus {
    outline: none;
  }

  button:hover,
  a:hover {
    opacity: 0.75;
  }
}

.button_secondary {
  a {
    padding: 18px 25px;
    font-weight: 500;
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    border: 3px solid rgba($color: #ffffff, $alpha: 0.2);
    background-color: black;
    color: white;
  }

  button:last-of-type,
  a:last-of-type {
    margin-right: 0px;
  }

  button:focus {
    outline: none;
  }

  button:hover,
  a:hover {
    opacity: 0.75;
  }
}

