.container {
  padding: 0px 0px 0px 0px;
  min-width: 100vh;
  min-height: 100vh;
}

.no_auth{
  width: 100vw;
  height: 90vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}