.container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.content {
  width: 70vw;
  position: absolute;
  right: 50px;
}

.no_auth{
  width: 100vw;
  height: 90vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}