.container {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.mirror_link {  
  a {
    padding: 10px 30px 0px 0px;
    color: white;
    opacity: 0.5;
    font-size: 16px;
    font-weight: 400;
  }
}

// Responsiveness
@media screen and (max-width: 600px) {
  .mirror_link {   
    display: flex;
    flex-direction: column;
    justify-content: center; 

    a {
      padding: 10px 30px 0px 0px;
      color: white;
      font-size: 14px;
      font-weight: 600;
    }
  }
}


