// Page hader
.header {
  padding: 0px 10px 0px 10px;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 9999;
  background-color: white;
  border-bottom: 2px solid lightgray;

  div {
    width: auto;
    flex: 1 1 40%;
    display: flex;
    align-items: center;
  }

  .header__logo {
    justify-content: center;

    a {
      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  .header__menu {
    justify-content: flex-end;

    button,
    a {
      padding: 18px 25px;
      font-weight: 500;
      border-radius: 8px;
      font-weight: 700;
      font-size: 16px;
      cursor: pointer;
      text-decoration: none;
      border: transparent;
    }

    button:last-of-type,
    a:last-of-type {
      margin-right: 0px;
    }

    button:focus {
      outline: none;
    }

    button:hover,
    a:hover {
      opacity: 0.75;
    }
  }

  .header__menu_button_red {
    color: gray;
    border: solid 3px red;
  }

  // Header menu buttons
  .header__menu_button_gray {
    background-color: rgb(216, 216, 216);
  }

  .header__menu_button_black {
    color: black;
  }
}

// Responsiveness
@media screen and (max-width: 600px) {
  .header {
    padding-left: 12px;
    padding-right: 12px;
  }
}
