// Page hader


.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 30px;

  .navigation_logo {
    visibility: visible; 
    justify-content: flex-start;
    font-family: 'Playball', cursive;

    a {
      font-size: 30px;
      color: white;
      text-decoration: none;
    }
  }

  .navigation_logo_small {
    visibility: hidden; 
    justify-content: flex-start;
    font-family: 'Playball', cursive;

    a {
      font-size: 30px;
      color: white;
      text-decoration: none;
    }
  }

  .navigation_menu {
    display: flex;
    flex-direction: column;
    padding: 10px;

    a {
      font-size: 16px;
      color: white;
    }
  }

  .navigation_footer{
    button,
    a {
      width: 100%;
      padding: 10px 20px;
      font-weight: 500;
      border-radius: 50px;
      font-weight: 700;
      font-size: 16px;
      cursor: pointer;
      text-decoration: none;
      color: rgba($color: #ffffff, $alpha: .5);
      border: 2px solid rgba($color: #ffffff, $alpha: 0.3);
      transition: all 0.5s ease;
    }

    button:last-of-type,
    a:last-of-type {
      margin-right: 0px;
    }

    button:focus {
      outline: none;
    }

    button:hover,
    a:hover {
      background-color: rgba($color: #161616, $alpha: 0.8);
      border: 2px solid rgba($color: #30d5c8, $alpha: 0.4);
    }
  }

  .navigation__menu_button_red {
    color: gray;
    border: solid 2px red;
  }

  // navigation menu buttons
  .navigation__menu_button_gray {
    background-color: transparent;
    color: white;
    border: 3px solid rgba($color: #ffffff, $alpha: 0.2);
  }
}

// Responsiveness
@media screen and (max-width: 1000px) {
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
    height: 10%;
    border-bottom: 2px solid rgba($color: #ffffff, $alpha: 0.2);
  }
}
