// Page hader


.navigation {
  width: 20vw;
  max-width: 300px;
  min-width: 200px;
  height: 100vh;
  border-right: 2px solid #282828;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-pack: justify;
  position: fixed;
  color: white;
  // background-color: rgba($color: #000000, $alpha: 0.8);
  backdrop-filter: blur(2px);

  .navigation_logo {
    visibility: visible; 
    justify-content: flex-start;
    font-family: 'Playball', cursive;

    a {
      font-size: 30px;
      color: white;
      text-decoration: none;
    }
  }

  .navigation_logo_small {
    visibility: hidden; 
    justify-content: flex-start;
    font-family: 'Playball', cursive;

    a {
      font-size: 30px;
      color: white;
      text-decoration: none;
    }
  }

  .navigation_menu {
    display: flex;
    flex-direction: column;
    padding: 10px;

    a {
      font-size: 16px;
      color: white;
    }
  }

  .navigation_footer{
    align-content: flex-end;
    padding-bottom: 20px;

    button,
    a {
      width: 100%;
      padding: 18px 25px;
      font-weight: 500;
      border-radius: 15px;
      font-weight: 700;
      font-size: 16px;
      cursor: pointer;
      text-decoration: none;
    }

    button:last-of-type,
    a:last-of-type {
      margin-right: 0px;
    }

    button:focus {
      outline: none;
    }

    button:hover,
    a:hover {
      opacity: 0.75;
    }
  }

  .navigation__menu_button_red {
    color: gray;
    border: solid 3px red;
  }

  // navigation menu buttons
  .navigation__menu_button_gray {
    background-color: transparent;
    color: white;
    border: 3px solid rgba($color: #ffffff, $alpha: 0.2);
  }
}

// Responsiveness
@media screen and (max-width: 1400px) {
  .navigation {
    padding-left: 12px;
    padding-right: 12px;
  }
}
