.container {
  display: flex;
  width: 70vw;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.detail {
  width: 30vw;
  padding-right: 20px;
  padding-bottom: 100px;

  h2 {
    font-size: 22px;
  }

  h3 {
    opacity: 0.6;
  }

  h4 {
    opacity: 0.4;
  }
  button,
  a {
    height: 50px;
    width: 100%;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    margin: 0px 5px;
    border: none;
  }
  button:last-of-type,
  a:last-of-type {
    margin-right: 0px;
  }
  button:focus {
    outline: none;
  }
  button:hover,
  a:hover {
    opacity: 0.75;
  }

  button:disabled,
  a:disabled {
    opacity: 0.75;
    cursor: default;
  }

  .nft__button_noauth {
    color: white;
    border: solid 3px red;
  }
}

.media {
  width: 70vw;
}

// Responsiveness
@media screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 90vh;
  } 

  .detail {
    width: 90vw;
    padding-left: 20px;
    order: 2;
  }
  
  .sub_details {
    display: flex;
    flex-direction: row;
    div {
      padding-right: 50px;
    }
    padding-bottom: 20px;
  }
  
  .media {
    width: 90vw;
  }
}
