.container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;

  a {
    padding: 10px;
  }

  a:hover {
    opacity: 0.5;
  }
}

.detail {
  h2 {
    font-size: 20px;
  }
}
