@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto&family=Syne:wght@400;500;800&display=swap');

body {
  background-color: black;
}

.a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

  h1, h2 {
    font-family: 'Syne', sans-serif;
  }

  h3, h4 {
    font-family: 'Libre Baskerville', serif;
  }
  
  p, caption {
    font-family: 'Roboto', sans-serif;
  }
}